## Домашнее задание к лекции "Библиотека Pandas"

### Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [10]:
import pandas as pd

In [11]:
%%time
data = pd.read_csv('../datasets/ml-latest/ratings.csv')
data.head()

Wall time: 46.2 s

In [53]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27753444 entries, 0 to 27753443
Data columns (total 4 columns):
userId       int64
movieId      int64
rating       float64
timestamp    int64
dtypes: float64(1), int64(3)
memory usage: 847.0 MB

In [55]:
data[data['rating'] == 5.0]['movieId'].value_counts().head(1)

318    48762
Name: movieId, dtype: int64

### Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [86]:
data = pd.read_csv('power.csv')

In [87]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1189482 entries, 0 to 1189481
Data columns (total 4 columns):
country     1189482 non-null object
year        1189482 non-null int64
quantity    1189482 non-null float64
category    1189482 non-null int64
dtypes: float64(1), int64(2), object(1)
memory usage: 36.3+ MB

In [88]:
# сначала выделяем страны в новый датафрейм
filt_countries = data[((data['country'] == 'Lithuania') | (data['country'] == 'Latvia') | (data['country'] == 'Estonia'))]
filt_countries['country'].unique()

array(['Lithuania', 'Latvia', 'Estonia'], dtype=object)

In [89]:
# потом выделяем категории
filt_c2 = filt_countries[((filt_countries['category'] == 4) | (filt_countries['category'] == 12) | (filt_countries['category'] == 21))]
filt_c2['category'].unique()

array([ 4, 12, 21], dtype=int64)

In [90]:
# выбираем только период с 2005 по 2010, убираем отрицательные quantity, делаем итоговую группировку
filt_c2[(filt_c2['year'] > 2004) & (filt_c2['year'] < 2011) & (filt_c2['quantity'] > 0)][['country', 'quantity']].groupby(['country']).sum()

           quantity
country
Estonia     63440.0
Latvia      54844.0
Lithuania  122296.0

### Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [104]:
data = pd.read_html('https://www.finanz.ru/valyuty/v-realnom-vremeni', encoding='utf-8')

In [116]:
# беру данные по курсу к рублю
rubles = data[1].loc[0:6,1:7]
rubles

,1,2,3,4,5,6,7
0,Рубль,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
1,GBP/RUB,844726,-,827276,"2,11 %",17450,01:53:00
2,EUR/RUB,709724,-,698230,"1,65 %",11494,01:00:00
3,USD/RUB,639737,-,632136,"1,20 %",07601,01:20:00
4,JPY/RUB,05905,-,05803,"1,75 %",00101,01:53:00
5,CNY/RUB,92227,-,91129,"1,20 %",01098,01:53:00
6,CHF/RUB,664192,-,652023,"1,87 %",12170,01:53:00

In [117]:
# делаю первую строчку заголовком
rubles.columns = rubles.iloc[0] 
rubles = rubles[1:] 
rubles

,Рубль,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
1,GBP/RUB,844726,-,827276,"2,11 %",17450,01:53:00
2,EUR/RUB,709724,-,698230,"1,65 %",11494,01:00:00
3,USD/RUB,639737,-,632136,"1,20 %",07601,01:20:00
4,JPY/RUB,05905,-,05803,"1,75 %",00101,01:53:00
5,CNY/RUB,92227,-,91129,"1,20 %",01098,01:53:00
6,CHF/RUB,664192,-,652023,"1,87 %",12170,01:53:00